@media screen and (min-width: 100px) and (max-width: 299px){
.container{
  display: none;
}
.row{
  display: none;
}
.mensagem{
  display: block;
}
}

  @media screen and (min-width: 300px) and (max-width: 768px) {
 
 #header{
  width: 105%;
  display: flexbox;
  background-color: rgb(2, 2, 97);
  color: #fff;
  
 }
 #headerImage{
  display: none;
 }
 #headerText{
  width: 100%;
  text-align: center;
 }
 
 #aboutus2{
  display: none;
 }
 #bigBox{
  width: 100%;
  margin-left: 1px;
 }
    a{
  text-decoration: none;
  color: #fff;
 }
    .about{
    position: fixed;
    bottom: 0%;
    float: left;
    left: 0%;
    z-index: 1000;
    width: 12%;
    height: 5%;
    background-color: rgb(7, 0, 68);
    border-radius: 10px;
}
  .produtos{
    position: fixed;
    bottom: 0%;
    float: left;
    left: 12%;
    z-index: 1000;
    width: 18%;
    height: 5%;
    background-color: rgb(7, 0, 68);
    border-radius: 10px;
}
  .depoimentos{
    position: fixed;
    bottom: 0%;
    float: left;
    left: 30%;
    z-index: 1000;
    width: 25%;
    height: 5%;
    background-color: rgb(7, 0, 68);
    border-radius: 10px;
}
  .contato{
    position: fixed;
    bottom: 0%;
    float: left;
    left: 55%;
    z-index: 1000;
    width: 23%;
    height: 5%;
    background-color: rgb(7, 0, 68);
    border-radius: 10px;
}
iframe{
  display: none;
}
#boxhidden{
  display: block;
}
#btnProdutoPP{
  display: none;
}
#btnProdutoP{
  display: none;
}
#btnProdutoM{
  display: none;
}
#btnProdutoG{
  display: none;
}
.btnBox{
  width: 140px; 
  height: 120px;  
  border-radius: 30px; 
  display: flex; 
  justify-content: center; 
  align-items: center;
  left: 0px;
}
.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
  width: 75%;
}
.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 20px;
  cursor: pointer;
}

  }

  @media screen and (min-width: 769px){

    body{
        font-size: 20px;
        padding: 0;
        margin: 0;
        background-color: rgb(3, 1, 63);
        color: aliceblue;
        display: flexbox;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 100%;
    }
    #bigBox{
      width: 150%;
      margin-left: 35px;
     }
    .container{
        border-radius: 10px; 
        background-color: rgba(190, 188, 209, 0.136);
        margin-bottom: 10px;
        width: 100%;
        justify-content: space-between;
    }
    
    #header{
      justify-content: space-evenly; 
      position: fixed; 
      width: 102%; 
      background-color: rgb(1, 1, 75); 
      margin-bottom: 10px; 
      z-index: 2;
    }
    
    #textContatoLocalizacao{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 20px;
        border-radius: 20px;
        text-align: left;
        height: 400PX; 
    }
    img{
        border-radius: 20px;
    }
    
    .row{
        align-items: center; 
        justify-content: center;
    }
    .btnBox{
      width: 140px; 
      height: 120px;  
      border-radius: 30px; 
      display: flex; 
      justify-content: center; 
      align-items: center;
      left: 0px;
    }
    #boxhidden{
      display: none;
    }
    #btnProdutoPP{
      display: block;
    }
    #btnProdutoP{
      display: block;
    }
    #btnProdutoM{
      display: block;
    }
    #btnProdutoG{
      display: block;
    }
    
    .popup {
        display: none;
        position: fixed;
        top: 64%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 1;
        width: 75%;
      }
      .popup-content {
        text-align: center;
      }
      .close {
        position: absolute;
        top: 10px;
        right: 15px;
        font-size: 20px;
        cursor: pointer;
      }
      #textContatoLocalizacao a{
        display: none;
        }
      .col-2{
        display: flex;
        justify-content: center;
        align-items: center;
      } 
      a{
        text-decoration: none;
        color: #fff ;
        font-size: large;
        background-color: blueviolet;
        padding-inline: 40px;
        border-radius: 20px;
      }
    }    